Import the used libraries in this project

In [23]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

Discovring the data

In [24]:
# save filepath
file_path = 'Data/houses_data.csv'
# store data in DataFrame
data = pd.read_csv(file_path) 
# print a summary of the data
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [25]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

It appears that this dataset contains some houses with missing feilds so we will ignore this houses  for now

In [26]:
data = data.dropna(axis=0)

Select the prediction target to be the prices of the houses

In [27]:
y = data.Price
y.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

Now we can choose the features we want to train our model with it which will be the 'Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude'

In [28]:
features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = data[features]
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [29]:
X.head

<bound method NDFrame.head of        Rooms  Bathroom  Landsize  Lattitude  Longtitude
1          2       1.0     156.0  -37.80790   144.99340
2          3       2.0     134.0  -37.80930   144.99440
4          4       1.0     120.0  -37.80720   144.99410
6          3       2.0     245.0  -37.80240   144.99930
7          2       1.0     256.0  -37.80600   144.99540
...      ...       ...       ...        ...         ...
12205      3       2.0     972.0  -37.51232   145.13282
12206      3       1.0     179.0  -37.86558   144.90474
12207      1       1.0       0.0  -37.85588   144.89936
12209      2       1.0       0.0  -37.85581   144.99025
12212      6       3.0    1087.0  -37.81038   144.89389

[6196 rows x 5 columns]>

Now we had to split our data to let some data to be for training and the other for the model's validation

In [30]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 1, shuffle=0)

Now we will define our first model which will be the DecisionTreeRegressor and begin to fit it with our test data and the validate it with our validation data by comparing between it and our predictions

In [31]:
# Define The Model
decision_tree_model = DecisionTreeRegressor(random_state = 1)

# Fit Model
decision_tree_model.fit(train_X, train_y)

# Get The Predictions
predicted_home_prices = decision_tree_model.predict(val_X)

# Get Error
mean_absolute_error(val_y, predicted_home_prices)

251688.7630729503

It seems that this model error is high so we will try another model which is the random forest

In [32]:
# Define The Model
random_forest_model = RandomForestRegressor(random_state=1)

# Fit Model
random_forest_model.fit(train_X, train_y)

# Get The Predictions
predicted_home_prices = random_forest_model.predict(val_X)

# Get Error
mean_absolute_error(val_y, predicted_home_prices)

190414.59149025998

We can see that this model worked better than the previous model but the error is still big so lets try the xgboost model

In [33]:
# Define The Model
xgboost_model = XGBRegressor()

# Fit Model
xgboost_model.fit(train_X, train_y)

# Get The Predictions
predicted_home_prices = xgboost_model.predict(val_X)

# Get Error
mean_absolute_error(val_y, predicted_home_prices)

198196.7419504519

We can see that the error here is slightly bigger than the random forest model however we can fine tuning this model by parameter tuning

In [63]:
# Define The Model
xgboost_model_Opt = XGBRegressor(n_estimators=475, learning_rate=0.05, n_jobs=4)

# Fit Model
xgboost_model_Opt.fit(train_X, train_y, eval_set=[(val_X, val_y)], verbose=False)

# Get The Predictions
predicted_home_prices = xgboost_model_Opt.predict(val_X)

# Get Error
mean_absolute_error(val_y, predicted_home_prices)

189115.28617253067

We can conclude from this that xgboost is the better model for now as it gave the least error we could have for this data set. We can do more analysis and try to change the features we choose to see the effect of this on accuracey